<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="bookFooter" id="footer" class="container-fluid align-content-center text-center p-5">


      <p style="font-family: sans-serif !important;">Subscribe to <bold>BookStore NewSettler</bold></p>
      <h3>Get our monthly updates</h3>
      <p class="mb-3">direct in your email</p>
      <div><input type="text" class="input"> <a href="#" class="btn btn-outline-primary btn-sm ms-2">Subscribe</a></div>



</div>
</body>
</html>
